langchain
langgraph
langchain-openai
langchain-community
langchain-pinecone
langchain-text-splitters
pinecone
pypdf
fastapi
uvicorn
python-dotenv
PyYAML==6.0.1
setuptools==68.0.0
wheel
langchain-groq
groq
langchain-huggingface
